@font-face {
  font-family: "San Francisco Pro Display Regular";
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: url("../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

body {
  color: #222222;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth; }

.hero {
  height: 100vh;
  text-align: center;
  margin-bottom: 110px; }

.vimeo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  background-image: url(../images/hero-bg.png); }

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh;
  /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header {
  max-width: 896px;
  height: 80px;
  margin: 0 auto;
  border-bottom: rgba(255, 255, 255, 0.15) 1px solid;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__right {
    display: flex;
    align-items: center; }
  .header__btn {
    background-color: white;
    color: #066eb0;
    padding: 8px 16px;
    border-radius: 23.5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s; }
    .header__btn:hover {
      animation: pulse ease-in 0.5s; }
  .header__h2 {
    font-size: 64px;
    color: #ffffff;
    font-family: "San Francisco Pro Display Regular", sans-serif; }
  .header__img {
    height: 267.93px;
    padding: 40px; }

h1 {
  font-size: 35px;
  color: #ffffff;
  font-family: "San Francisco Pro Display Regular", sans-serif; }

.logo {
  width: 60px;
  display: flex;
  transition: all 0.3s; }
  .logo:hover {
    transform: rotate(180deg); }

.circle {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 50%; }
  .circle:nth-child(2) {
    margin-left: -5px; }

.menu-icon {
  width: 20px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 24px;
  cursor: pointer;
  transition: all 0.2s; }
  .menu-icon span {
    width: 100%;
    height: 2px;
    background: #ffffff;
    border-radius: 4px; }
  .menu-icon:hover {
    transform: scale(1.1); }

.fadeOutUp {
  animation: fadeOutUp ease-in 0.5s 1; }

.header--fix {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  background-color: #fff;
  opacity: 0; }
  .header--fix .circle {
    background-color: rgba(0, 0, 0, 0.65); }
  .header--fix .menu-icon span {
    background: #000; }
  .header--fix .header__btn {
    color: #fff;
    background-color: #000; }

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  opacity: 1; }

.parallax {
  display: block;
  max-width: 1068px;
  margin: 0 auto;
  background-image: url("../images/wing-of-airplane.png");
  background-size: cover;
  border-radius: 24px;
  padding: 60px 0; }
  .parallax__title {
    font-weight: bold;
    font-size: 54px;
    color: #fff;
    font-family: "San Francisco Pro Display Regular", sans-serif;
    padding: 20px 8%; }
  .parallax__text {
    font-size: 20px;
    color: #fff;
    padding: 0 8%; }

.card {
  padding: 30px 25px;
  background: #ffffff;
  border-radius: 12px;
  margin-top: 32px;
  width: 276px;
  transition: all 0.3s; }
  .card--hovered:hover {
    transform: translateY(-4px);
    box-shadow: 3px 3px 7px #000; }
  .card--hovered:hover .card__btn span {
    transform: translateX(8px); }
  .card__inner {
    display: block;
    height: 100%;
    width: 100%; }
  .card__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    padding: 10px 0; }
  .card__text {
    font-size: 14px;
    line-height: 20px;
    color: #000; }
  .card__btn {
    color: #066eb0;
    padding-top: 25px; }
    .card__btn span {
      margin-left: 15px;
      display: inline-block;
      transition: all 0.2s; }
  .card--yellow {
    background: linear-gradient(180deg, #ffdf6b 0%, #ffd43c 100%); }
    .card--yellow .card__title {
      font-weight: bold;
      font-size: 24px;
      line-height: 33px; }
    .card--yellow .card__img {
      margin-left: -30px;
      margin-top: -20px; }
    .card--yellow .card__btn {
      color: #000; }
  .card--blue {
    background: linear-gradient(180deg, #7a9fff 0%, #57d5f0 100%); }
    .card--blue .card__title {
      font-weight: bold;
      font-size: 24px;
      line-height: 33px; }
    .card--blue .card__img {
      margin: -50px -30px; }
    .card--blue .card__btn {
      color: #000; }

.plan {
  display: flex;
  justify-content: space-evenly; }
  .plan__col {
    width: 276px; }

.col-1 {
  margin-top: 50px; }

.col-2 {
  margin-top: 150px; }

.col-3 {
  margin-top: 250px; }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.fadeInDown {
  animation: fadeInDown ease-in 0.5s 1; }

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
